body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.text-small-5px {
  font-size: 15px;
}

.aline-l {
  text-align: left;
}

.aline-c {
  text-align: center;
}

.form-user-add {
  min-width: 60vh;
  height: 30vh;
  background-color: #676767;
  position: absolute;
  top: 10vh;
  left: 17vh;
}

.form-user-add table {
  min-width: 60vh;
  height: 30vh;
  background-color: #676767;
}

.form-user-add table caption {
  background-color: #676767;
}

.form-user-add table tr td:last-child {
  padding-left: 5px;
}

.background-dark-light {
  background-color: #676767;
}

.header-menu {
  width: 100%;
  max-height: 50px;
  align-content: center;
  align-items: center;
  background-color: #3d3d3d;
}

.boder-table-1px-solid tr td {
  border: 1px #a4a4a4 solid;
}

.management-user {
  min-width: 900px;
  min-height: 900px;
  border: 1px #676767 solid;
  position: relative;
}

.management-user .view-table {
  font-size: calc(5px + 1vmin);
  min-width: 100%;
  padding: 5px;
  border-collapse: collapse;
}

.management-user .view-table tr th, td {
  border: 1px #000 solid;
}

.management-user .view-table tfoot {
  text-align: left;
}

.btn {
  border-collapse: collapse;
  border: 1px #2b2b2b solid;
}

.btn-add {
  height: 25px;
  padding: 2px;
  margin-right: 3px;
  float: right;
}

.btn-add-left {
  height: 25px;
  padding: 2px;
  float: left;
}

.btn-close {
  background-color: #643434;
  height: 25px;
  padding: 2px;
  float: right;
}

.btn-default-right {
  background-color: #356464;
  height: 25px;
  padding: 2px;
  float: right;
  margin-right: 3px;
}

.btn-add span {
  background-color: #006700;
  font-size: calc(3px + 1vmin);
  padding: 4px;
  margin-bottom: 1px;
}
.nav table{
  width: 50%;
  margin-left: 25%;
}
.nav table tr{
  width: 50vh;
}
.nav table tr th{
  width: 100vh;
  font-size: calc(5px + 1vmin);
  background-color: #333333;
  margin-right: 10px;
  margin-left: 100px;
  padding: 10px;

}
.nav table tr th a{
  color: #fff;
  text-decoration: #61dafb;
}
.nav table tr th:hover{
  background-color: #797979;
}
.active-nav {
  color: #bd4646;
}
.form-user-add-2{
  width: 300px;
  height:450px;
  margin-top: 20px;
  margin-left: 20px;
  padding-top: 20px;
  padding-left: 10px;
  background-color: #383838;
}
.form-user-add-2 span{
  display: none;
  width: 100px;
  float: left;
  font-size: calc(5px + 1vmin);
  text-align: left;
}

.form-user-add-2 input{
  min-width: 275px;
}

.float-left{
  float: left;
}