body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.text-small-5px{
  font-size: 15px;
}

.aline-l{
  text-align: left;
}

.table-user tr td:last-child{
  padding-left: 5px;
}

.background-dark-light{
  background-color: #676767;
}

.boder-table-1px-solid tr td{
  border: 1px #a4a4a4 solid;
}

